.about {

}

.about__tittle {
    color: #000;
font-family: Montserrat;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.line {
    width: 1050px;
height: 1px;
background: #000;
margin-top: 27px;
margin-left: 16px;
}

.about__div {
    display: flex;
}



.about__text {
    color: #000;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 510px;
margin-top: 120px;
}

.about__img {
    width: 632px;
height: 344px;
flex-shrink: 0;
margin-top: 53px;
margin-left: 90px;
}

.about__dd {
    display: flex;
}

