.blog {
  padding-bottom: 68px;

  @media screen and (min-width: 752px) {
    padding-bottom: 120px;
  }

  @media screen and (min-width: 1264px) {
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    animation: move 2s linear 1;

    @media screen and (min-width: 752px) {
      gap: 32px;
    }

    @media screen and (min-width: 1264px) {
      gap: 32px;
    }
    @keyframes move {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(200px);
      }
  }
  }

  &__tittle {
    color: $title-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    animation: bounce 2s ease-out 1;

    @media screen and (min-width: 752px) {
      font-size: 44px;
    }
    @keyframes bounce {
      0% {
          transform: translateY(0);
      }
      25% {
          transform: translateY(-50px);
      }
      50% {
          transform: translateY(0);
      }
      75% {
          transform: translateY(-25px);
      }
      100% {
          transform: translateY(0);
      }
  }
  }

  &__line {
    width: 202px;
    height: 1px;
    background: $title-color;

    @media screen and (min-width: 752px) {
      width: 573px;
    }

    @media screen and (min-width: 1264px) {
      width: 1085px;
    }
  }

  &__title {
    color: $title-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-top: 28px;
    animation: slideAndRotate 3s ease-out 1;


    @media screen and (min-width: 752px) {
      font-size: 32px;
      margin-top: 32px;
    }

    @media screen and (min-width: 1264px) {
      margin-top: 44px;
    }
    @keyframes slideAndRotate {
      0% {
          transform: translateX(0) rotate(0);
      }
      25% {
          transform: translateX(100px) rotate(45deg);
      }
      50% {
          transform: translateX(200px) rotate(90deg);
      }
      75% {
          transform: translateX(100px) rotate(135deg);
      }
      100% {
          transform: translateX(0) rotate(180deg);
      }
  }
  }

  .btn {
    color: $text-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 38px;
    background: $menu-color;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding: 14px 28px;
    animation: scaleAndBack 2s ease-in-out 1;

    @media screen and (min-width: 752px) {
      margin-top: 40px;
      font-size: 28px;
      padding: 16px 32px;
    }

    @media screen and (min-width: 1264px) {
      margin-top: 48px;
      font-size: 28px;
    }
    @keyframes scaleAndBack {
      0% {
          transform: scale(1);
      }
      25% {
          transform: scale(1.2);
      }
      50% {
          transform: scale(1.5);
      }
      75% {
          transform: scale(1.2);
      }
      100% {
          transform: scale(1);
      }
  }
  }

  &__div {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 32px;

    @media screen and (min-width: 752px) {
      gap: 16px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1264px) {
      gap: 16px;
      margin-bottom: 122px;
    }
  }
}

@media screen and (min-width: 752px) {
}

@media screen and (min-width: 1264px) {
}
