.delivery{
    padding-bottom: 100px;
}
.delivery__title {
    color: #000;
    font-family: "Montserrat";
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 80px;
    display: inline;
}

.delivery__line {
    width: 985px;
    height: 1px;
    background: #000;

}

.delivery__list {
   
}

.delivery__item{
    margin-bottom: 57px;
    
}

.delivery__text {
    color: #000;
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 500;
    display: inline;
    margin-right: 56px;
    padding: 16px 27px;
    border: 2px solid #000;
    border-radius: 50%;
}

.items__text {
    color: #000;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 500;
    display: inline;

}