<div class="backdrop is__hidden">
    <div class="modal">
        <div class="modal__box">
            <img src="" alt="" class="modal__img">
        </div>
        <div class="modal__bax">
            <h1 class="modal__title">Follow to our newsletter</h1>
            <p class="modal__text">Be the first to get exclusive offers and the latest news on our product directly in
                your box.</p>
            <form action="" class="modal__form">
                <label for="" class="modal__label">
                    Email
                    <input type="email" placeholder="Your email">
                </label>
                <label for="" class="modal__label">
                    <button type="submit">Subscribe</button>
                </label>
            </form>
        </div>
    </div>
</div>