<section class="bgdelivery">
    <picture> 
        <source srcset="../img/dekstop/delivery-dekstop@1x.webp 1x, ../img/dekstop/delivery-dekstop@2x.webp 2x" 
            media="(min-width: 1264px)"> 
        <source srcset="../img/tablet/delivery-tablet@1x.webp 1x, ../img/tablet/delivery-tablet@2x.webp 2x" 
            media="(min-width: 752px)"> 
        <source srcset="../img/mobile/delivery-mobile@1x.webp 1x, ../img/mobile/delivery-mobile@2x.webp 2x" 
            media="(min-width: 304px)"> 
        <img src="../img/delivery.jpg" alt="flowers"> 
    </picture> 
</section>