<section class="blog">
    <div class="container">
    <div class="blog__div">
<h1 class="blog__tittle">BLOG</h1>
<div class="blog__line"></div>
</div>
<ul class="blog__list">
    <li class="blog__item">
      <picture>
        <source
    srcset="./img/dekstop/blog_one-dekstop@2x.webp 2x,
            ./img/dekstop/blog_one-dekstop@1x.webp 1x"
    media="(min-width: 1264px)"/>
    <source
    srcset="./img/tablet/blog_one-tablet@2x.webp 2x,
            ./img/tablet/blog_one-tablet@1x.webp 1x"
    media="(min-width: 752px)"/>
    <source
    srcset="./img/mobile/blog_one-mobile@2x.webp 2x,
        ./img/mobile/blog_one-mobile@1x.webp 1x"
    media="(max-width: 752px)"/>
    <img src="./img/blog_one.jpg" alt="blog-one" class="blog__img">
      </picture>
    </li>
    <li class="blog__item">
      <picture>
        <source
    srcset="./img/dekstop/blog_two-dekstop@2x.webp 2x,
            ./img/dekstop/blog_two-dekstop@1x.webp 1x"
    media="(min-width: 1264px)"/>
    <source
    srcset="./img/tablet/blog_two-tablet@2x.webp 2x,
            ./img/tablet/blog_two-tablet@1x.webp 1x"
    media="(min-width: 752px)"/>
    <source
    srcset="./img/mobile/blog_two-mobile@2x.webp 2x,
            ./img/mobile/blog_two-mobile@1x.webp 1x"
    media="(max-width: 752px)"/>
    <img src="./img/blog_two.jpg" alt="blog-two" class="blog__img">
      </picture>
    </li>
    <li class="blog__item">
      <picture>
        <source
        srcset="../img/dekstop/blog_three-dekstop@2x.webp 2x, ../img/dekstop/blog_three-dekstop@1x.webp 1x,"
    media="(min-width: 1264px)"/>
    <source
    srcset="./img/tablet/blog_three-tablet@2x.webp 2x,
            ./img/tablet/blog_three-tablet@1x.webp 1x"
    media="(min-width: 752px)"/>
    <source
    srcset="./img/mobile/blog_three-mobile@2x.webp 2x,
            ./img/mobile/blog_three-mobile@1x.webp 1x"
    media="(max-width: 752px)"/>
    <img src="./img/blog_three.jpg" alt="blog-three" class="blog__img">
      </picture>
    </li>
  </ul>
<h2 class="blog__title">Follow to our newsletter</h2>
<button class="btn" type="button">Subscribe</button>
</div>
</section>