<section class="delivery">
    <h1 class="delivery__title">DELIVERY</h1>
    <svg class="delivery__svg">
        <use></use>
    </svg>
    <ul class="delivery__list">
        <li class="delivery__item">
            <p class="delivery__item">1</p>
            <p class="item-text">Choose your bouquet and make an order on website</p>
        </li>
        <li class="delivery__item">
            <p class="delivery__item">2</p>
            <p class="item-text">Wait for the call to clarify the details of the order.
                You can pay online or to the courier</p>
        </li>
        <li class="delivery__item">
            <p class="delivery__item">3</p>
            <p class="item-text">Wait for the delivery at the selected time or pick up
                the order from the store</p>
        </li>
        <li class="delivery__item">
            <p class="delivery__item">4</p>
            <p class="item-text">Make someone happy or enjoy yourself</p>
        </li>
    </ul>
</section>