<section class="delivery">
    <div class="container">
        <div class="delivery__box">
            <h1 class="delivery__title">DELIVERY</h1>
            <div class="delivery__line"></div>
        </div>
        <ul class="delivery__list">
            <li class="delivery__item">
                <p class="delivery__text">1</p>
                <p class="items__text">Choose your bouquet and make an order on website</p>
            </li>
            <li class="delivery__item">
                <p class="delivery__text">2</p>
                <p class="items__text">Wait for the call to clarify the details of the order.
                    You can pay online or to the courier</p>
            </li>
            <li class="delivery__item">
                <p class="delivery__text">3</p>
                <p class="items__text">Wait for the delivery at the selected time or pick up
                    the order from the store</p>
            </li>
            <li class="delivery__item">
                <p class="delivery__text">4</p>
                <p class="items__text">Make someone happy or enjoy yourself</p>
            </li>
        </ul>

    <!-- <picture>
        <source srcset="../img/dekstop/delivery-dekstop@1x.webp 1x, ../img/dekstop/delivery-dekstop@2x.webp 2x"
            media="(min-width: 1264px)">
        <source srcset="../img/tablet/delivery-tablet@1x.webp 1x, ../img/tablet/delivery-tablet@2x.webp 2x"
            media="(min-width: 752px)">
        <source srcset="../img/mobile/delivery-mobile@1x.webp 1x, ../img/mobile/delivery-mobile@2x.webp 2x"
            media="(min-width: 304px)">
        <img src="../img/delivery.jpg" alt="flowers">
    </picture> -->
    </div>
</section>