<footer class="footer">
        <h1 class="footer__title">Navigation</h1>
        <svg class="footer__svg">
            <use></use>
        </svg>
        <ul class="footer__list">
        <li>Anemone</li>
        <li>About us</li>
        <li>Store</li>
        <li>Delivery</li>
    </ul>
    <h1 class="footer__title">Opening times</h1>
    <ul class="footer_horario">
        <li>
            Every day
            9:00 - 22:00
        </li>
    </ul>
    <h1 class="footer__title">Contacts</h1>
    <ul class="footer_contacts">
    <li>+38 063 123 45 67</li>
    <li>anemonestudio@example.com</li>
    <li>Reitarska Street, 11
        Kyiv, Ukraine</li>
</ul>
<svg class="footer__svg">
    <use></use>
</svg>
</footer>