<footer class="footer">
        <div class="container footer__bux">
            <a href="" class="footer__logo" data-aos="zoom-out-right">
                <svg class="footer__icon">
                    <use href ="./img/symbol-defs.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="footer__box">
                <ul class="footer__list" data-aos="zoom-in-up">
                    <li class="footer__item"><h3 class="footer__title" data-aos="zoom-in-up">Navigation</h3></li>
                    <li class="footer__item"><a href="#anemone" class="footer__link">Anemone</a></li>
                    <li class="footer__item"><a href="#about" class="footer__link">About us</a></li>
                    <li class="footer__item"><a href="#store" class="footer__link">Store</a></li>
                    <li class="footer__item"><a href="#delivery" class="footer__link">Delivery</a></li>
                </ul>
                <ul class="footer__list" data-aos="zoom-in-up">
                  <li class="footer__item"><h3 class="footer__title" data-aos="zoom-in-up">Opening times</h3></li>
                  <li class="footer__eatem"><a href="#" class="footer__link">Every day
                    9:00 - 22:00</a></li>
                </ul>
            </div>
            <div class="footer__bax">
              <address class="footer__adres">
              <ul class="footer__list" data-aos="zoom-in-up">
                <li class="footer__item"><h3 class="footer__title" data-aos="zoom-in-up">Contacts</h3></li>
                <li class="footer__item"><a href="tel: +380631234567" class="footer__link">+38 063 123 45 67</a></li>
                <li class="footer__eetem"><a href="mailto: anemonestudio@example.com" class="footer__link">anemonestudio@example.com</a></li>
                <li class="footer__itemss"><a href="https://www.google.es/maps/place/Reitarska+St,+11,+Kyiv,+Ucrania,+02000/@50.451261,30.5099539,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4ce5bddfc5105:0x5d4781b191539b53!8m2!3d50.4512576!4d30.5125288!16s%2Fg%2F11vjlztsr7?hl=es&entry=ttu&g_ep=EgoyMDI1MDEwMi4wIKXMDSoASAFQAw%3D%3D" class="footer__link">Reitarska Street, 11
                  Kyiv, Ukraine</a></li>
              </ul>
            </address>
            <ul class="footer__lisst">
              <li class="footer__items" data-aos="zoom-out-left">
                <svg class="footer__img" >
                  <use href="./img/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </li>
              <li class="footer__items" data-aos="zoom-out-left">
                <svg class="footer__img" >
                  <use href="./img/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </li>
            </ul>
            </div>
        </div>
</footer>