 <header class="header">
        <div class="container header__box">
            <a href="./index.html" class="header__logo">
                <svg class="header__icon">
                    <use href="./img/symbol-defs.svg#icon-logo"></use>
                </svg>
            </a>
            <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a href="#" class="header__link">Anemone</a></li>
                <li class="header__item"><a href="#" class="header__link">About us</a></li>
                <li class="header__item"><a href="#" class="header__link">Store</a></li>
                <li class="header__item"><a href="#" class="header__link">Delivery</a></li>
                <li class="header__item"><a href="#" class="header__link">Blog</a></li>
            </ul>
            </nav>
            <a href="tel:+380961111111" class="header__phone">
                <svg class="header__img">
                    <use href="/img/symbol-defs.svg#icon-phone"></use>
                </svg>
            </a>
            <div class="menu">
                <button type="button" class="menu__btn" modal-header-close><svg class="menu__icon">
            <use href="../img/symbol-defs.svg#icon-menu"></use>
          </svg></button>
            </div>
        </div>
    </header>