 <section class="hero">
        <div class="container hero__bax">
            <h1 class="hero__title">
                ANEMONE
            </h1>
            <ul class="hero__list">
                <li class="hero__item"><p class="hero__text">flower
studio</p></li>
                <li class="hero__item"><img src="../img/hero.jpg" alt="hero-fons" class="hero__img"></li>
                <li class="hero__item"><img src="../img/hiro.jpg" alt="hiro-fons" class="hiro__img"></li>
            </ul>
        </div>
    </section>