<section class="store"> 
    <div class="container"> 
        <div class="store__box">
        <h1 class="store__title">STORE</h1>
        <div class="store__line"></div>
        </div>
        <ul class="store__list"> 
            <li class="store__item"> 
                <picture class="store__picture"> 
                    <source 
                        srcset="./img/dekstop/store_one-dekstop@1x.webp 1x, ../img/dekstop/store_one-dekstop@2x.webp 2x" 
                        media="(min-width: 1264px)"> 
                    <source 
                        srcset="./img/tablet/store_one-tablet@1x.webp 1x, ../img/tablet/store_one-tablet@2x.webp 2x" 
                        media="(min-width: 752px)"> 
                    <source 
                        srcset="./img/mobile/store_one-mobile@1x.webp 1x, ../img/mobile/store_one-mobile@2x.webp 2x" 
                        media="(max-width: 304px)"> 
                    <img src="./img/store_one.jpg" alt="compliments" class="store__img"> 
                </picture>
                <div class="store__bax"> 
                <h2 class="store__paragraph">compliments</h2> 
                <div class="store__lline"></div>
            </div>
                <p class="store__text">from $15</p> 
            </li> 
            <li class="store__item"> 
                <picture> 
                    <source 
                        srcset="./img/dekstop/store_two-dekstop@1x.webp 1x, ../img/dekstop/store_two-dekstop@2x.webp 2x" 
                        media="(min-width: 1264px)"> 
                    <source 
                        srcset="./img/tablet/store_two-tablet@1x.webp 1x, ../img/tablet/store_two-tablet@2x.webp 2x" 
                        media="(min-width: 752px)"> 
                    <source 
                        srcset="./img/mobile/store_two-mobile@1x.webp 1x, ../img/mobile/store_two-mobile@2x.webp 2x" 
                        media="(max-width: 304px)"> 
                    <img src="./img/store_two.jpg" alt="bouquets size S" class="store__img"> 
                </picture>
                <div class="store__bax">
                <h2 class="store__paragraph">bouquets size S</h2>
                <div class="store__llines"></div>
             </div> 
                <p class="store__text">from $25</p> 
            </li> 
            <li class="store__item"> 
                <picture> 
                    <source 
                        srcset="./img/dekstop/store_three-dekstop@1x.webp 1x, ../img/dekstop/store_three-dekstop@2x.webp 2x" 
                        media="(min-width: 1264px)"> 
                    <source 
                        srcset="./img/tablet/store_three-tablet@1x.webp 1x, ../img/tablet/store_three-tablet@2x.webp 2x" 
                        media="(min-width: 752px)"> 
                    <source 
                        srcset="./img/mobile/store_three-mobile@1x.webp 1x, ../img/mobile/store_three-mobile@2x.webp 2x" 
                        media="(max-width: 304px)"> 
                    <img src="./img/store_three.jpg" alt="bouquets size M " class="store__img"> 
                </picture> 
                <div class="store__bax">
                <h2 class="store__paragraph">bouquets size M</h2> 
                <div class="store__llineu"></div>
            </div>
                <p class="store__text">from $45</p> 
            </li> 
            <li class="store__item"> 
                <picture> 
                    <source 
                        srcset="./img/dekstop/store_four-dekstop@1x.webp 1x, ../img/dekstop/store_four-dekstop@2x.webp 2x" 
                        media="(min-width: 1264px)"> 
                    <source 
                        srcset="./img/tablet/store_four-tablet@1x.webp 1x, ../img/tablet/store_four-tablet@2x.webp 2x" 
                        media="(min-width: 752px)"> 
                    <source 
                        srcset="./img/mobile/store_four-mobile@1x.webp 1x, ../img/mobile/store_four-mobile@2x.webp 2x" 
                        media="(max-width: 304px)"> 
                    <img src="./img/store_four.jpg" alt="bouquets size L" class="store__img"> 
                </picture>
                <div class="store__bax"> 
                <h2 class="store__paragraph">bouquets size L</h2> 
                <div class="store__llinef"></div>
            </div>
                <p class="store__text">from $60</p> 
            </li> 
        </ul> 
        <div class="button__wrapper"> 
        <button data-modal-open type="button" class="store__button" >Order flowers</button> 
    </div> 
    </div> 
</section>