<section class="store">
    <h1 class="store__title">STORE</h1>
    <svg class="store__svg">
        <use></use>
    </svg>
    <ul class="store__list">
        <li class="store__item">
            <source src="">  
            <h1 class="item__title">compliments</h1>
            <svg class="item__svg">
                <use></use>
            </svg>
            <p class="store-text">from $15</p>  
        </li>
        <li class="store__item">
        </li>
        <li class="store__item"></li>
        <li class="store__item"></li>
    </ul>
</section>